<div class="container-fluid" data-controller="form">
  <div class="row no-gutters">
    <div class="col-auto left-column">
      <!-- Содержимое левой колонки -->
      <div class="p-3">
        <h3 class="mt-3 custom-title"><b>deepseek's answers</b></h3>
        <%= link_to "New chat", new_chat_path(@chat), data: { turbo_frame: dom_id(@chat), action: "click->form#hideChat" }, class: "btn btn-secondary mt-4 mb-4" %></p>
        <% @chats_by_period.each do |period, chats| %>
          <h5>
            <%= format_period_name(period) %>
          </h5>
          <% if chats.present? %>
            <div id="chat-list">
              <%= render "chats/chat_list", chats: chats %>
            </div>
          <% else %>
            <p>No chats available</p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col right-column">
      <%= turbo_frame_tag "chat_frame" do %>
        <%= turbo_frame_tag "chat" %>
        <%= turbo_frame_tag @chat %>
        <%= render template: "chats/new", layout: false %>
      <% end %>
    </div>
  </div>
</div>
