<%= turbo_frame_tag "chat" do %>
  <div data-form-target="chat">
    <div class="container my-5">
      <div class="row justify-content-center">
        <h4 class="card-text text-center  mt-2 mb-3 ">
          <%= @chat.title %>
        </h4>
        <div class="col-md-7">
          <!-- Блок с вопросом -->
          <div class="card mb-4">
            <div class="card-header bg-blue-200">
              Question
            </div>
            <div class="card-body">
              <p class="card-text">
                <%= @chat.content %>
              </p>
            </div>
          </div>
          <!-- Блок рассуждения -->
          <% if @reasoning_content.present?  %>
            <div class="card mb-5">
              <div class="card-header bg-orange-200">
                Reasoning
              </div>
              <div class="card-body">
                <p class="card-text text-muted">
                  <%= raw @reasoning_content %>
                </p>
              </div>
            </div>
          <% end %>
          <!-- Блок с ответом -->
          <div class="card mb-5">
            <div class="card-header bg-green-200">
              Answer
            </div>
            <div class="card-body">
              <p class="card-text">
                <%= raw @answer_content %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
